@use "sass:map";
@use "@angular/material" as mat;

@mixin app-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $color: mat.get-color-config($theme);
  $primary: map.get($color, primary);
  $accent: map.get($color, accent);

  // Define any styles affected by the theme.
  .app-header {
    // Use mat-color to extract individual colors from a palette.
    // background-color: mat-color($primary);
    border: medium solid mat.get-color-from-palette($accent, A400);
  }
}
