@mixin app-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .app-header {
    // Use mat-color to extract individual colors from a palette.
    // background-color: mat-color($primary);
    border: medium solid mat-color($accent, A400);
  }
}
