<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container [class.isDarkTheme]="isDarkTheme">

  <mat-sidenav #sidenav
               class="app-sidenav"
               color="primary"
               mode="over">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Settings</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">build</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Account</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">account_circle</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button class="app-sidebar-button"
                color="accent"
                mat-raised-button>
          <mat-icon class="example-icon">verified_user</mat-icon>
          Login
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Favorites</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">favorite</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button class="app-sidebar-button"
                color="warn"
                mat-raised-button>
          <mat-icon class="example-icon">delete</mat-icon>
          Delete
        </button>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button (click)="sidenav.toggle()"
            class="app-menu-button"
            mat-button>
      <i class="material-icons">menu</i>
    </button>
    <span class="title">Angular Material CSS Vars Demo</span>
  </mat-toolbar>

  <div class="app-content mat-typography">

    <h1>Theme</h1>
    <mat-card>
      <mat-card-content>
        <button (click)="isDarkTheme = !isDarkTheme"
                class="app-sidebar-button"
                color="accent"
                mat-raised-button>TOGGLE DARK THEME
        </button>

        <div style="display: flex;">
    <span>
      <h4>Primary color: {{primary}}</h4>
      <span [colorPicker]="primary"
            [style.background]="primary"
            [cpOKButton]="true"
            [cpDialogDisplay]="'inline'"
            [cpToggle]="true"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
            (colorPickerSelect)="onPrimaryChange($event)"></span>
    </span>
          <span>
      <h4>Accent color: {{accent}}</h4>
      <span [colorPicker]="accent"
            [style.background]="accent"
            [cpOKButton]="true"
            [cpDialogDisplay]="'inline'"
            [cpToggle]="true"
            [cpAlphaChannel]="'disabled'"
            [cpOutputFormat]="'hex'"
            (colorPickerSelect)="onAccentChange($event)"></span>
    </span>
        </div>
      </mat-card-content>
    </mat-card>


    <h1 class="mat-h1">Demo Components</h1>
    <!-- Material Button -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Button</h2>
        <h3>Basic Buttons</h3>
        <div class="example-button-row">
          <button mat-button>Basic</button>
          <button mat-button
                  color="primary">Primary
          </button>
          <button mat-button
                  color="accent">Accent
          </button>
          <button mat-button
                  color="warn">Warn
          </button>
          <button mat-button
                  disabled>Disabled
          </button>
          <a mat-button
             routerLink=".">Link</a>
        </div>

        <h3>Raised Buttons</h3>
        <div class="example-button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button
                  color="primary">Primary
          </button>
          <button mat-raised-button
                  color="accent">Accent
          </button>
          <button mat-raised-button
                  color="warn">Warn
          </button>
          <button mat-raised-button
                  disabled>Disabled
          </button>
          <a mat-raised-button
             routerLink=".">Link</a>
        </div>

        <h3>Stroked Buttons</h3>
        <div class="example-button-row">
          <button mat-stroked-button>Basic</button>
          <button mat-stroked-button
                  color="primary">Primary
          </button>
          <button mat-stroked-button
                  color="accent">Accent
          </button>
          <button mat-stroked-button
                  color="warn">Warn
          </button>
          <button mat-stroked-button
                  disabled>Disabled
          </button>
          <a mat-stroked-button
             routerLink=".">Link</a>
        </div>

        <h3>Flat Buttons</h3>
        <div class="example-button-row">
          <button mat-flat-button>Basic</button>
          <button mat-flat-button
                  color="primary">Primary
          </button>
          <button mat-flat-button
                  color="accent">Accent
          </button>
          <button mat-flat-button
                  color="warn">Warn
          </button>
          <button mat-flat-button
                  disabled>Disabled
          </button>
          <a mat-flat-button
             routerLink=".">Link</a>
        </div>

        <h3>Icon Buttons</h3>
        <div class="example-button-row">
          <button mat-icon-button
                  aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button
                  color="primary"
                  aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button
                  color="accent"
                  aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button
                  color="warn"
                  aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button
                  disabled
                  aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <h3>Fab Buttons</h3>
        <div class="example-button-row">
          <button mat-fab>Basic</button>
          <button mat-fab
                  color="primary">Primary
          </button>
          <button mat-fab
                  color="accent">Accent
          </button>
          <button mat-fab
                  color="warn">Warn
          </button>
          <button mat-fab
                  disabled>Disabled
          </button>
          <button mat-fab
                  aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <a mat-fab
             routerLink=".">Link</a>
        </div>

        <h3>Mini Fab Buttons</h3>
        <div class="example-button-row">
          <button mat-mini-fab>Basic</button>
          <button mat-mini-fab
                  color="primary">Primary
          </button>
          <button mat-mini-fab
                  color="accent">Accent
          </button>
          <button mat-mini-fab
                  color="warn">Warn
          </button>
          <button mat-mini-fab
                  disabled>Disabled
          </button>
          <button mat-mini-fab
                  aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <a mat-mini-fab
             routerLink=".">Link</a>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- /Material Button -->

    <!-- Material Chip List -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Chips</h2>
        <mat-chip-list>
          <mat-chip *ngFor="let chipColor of availableColors"
                    color="{{chipColor.color}}"
                    selected="true">
            {{chipColor.name}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
    <!-- /Material Chip List -->

    <!-- Material Checkbox -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Checkbox</h2>
        <mat-checkbox color="warn">Unchecked</mat-checkbox>
        <mat-checkbox [checked]="true">Checked</mat-checkbox>
        <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
        <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
      </mat-card-content>
    </mat-card>
    <!-- /Material Checkbox -->

    <!-- Material Radio Button -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Radio Button</h2>
        <mat-radio-button name="symbol">Alpha</mat-radio-button>
        <mat-radio-button name="symbol">Beta</mat-radio-button>
        <mat-radio-button disabled
                          name="symbol">Disabled
        </mat-radio-button>
      </mat-card-content>
    </mat-card>
    <!-- /Material Radio Button -->

    <!-- Material Input -->
    <mat-card class="app-input-section">
      <mat-card-content>
        <h2 class="example-h2">Material Input</h2>
        <mat-form-field>
          <input matInput
                 placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input #nickname
                 matInput
                 maxlength="50"
                 placeholder="Nickname" />
          <mat-hint align="end">
            {{nickname.value.length}} / 50
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-icon class="app-input-icon"
                    matPrefix>android
          </mat-icon>
          <input matInput
                 placeholder="Favorite phone">
        </mat-form-field>
        <mat-form-field>

          <mat-icon class="app-input-icon"
                    matPrefix>motorcycle
          </mat-icon>
          <input matInput
                 placeholder="Motorcycle model">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <!-- /Material Input -->

    <!-- Material Select -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Select</h2>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedValue"
                      name="game"
                      placeholder="Favorite game">
            <mat-option *ngFor="let game of games"
                        [value]="game.value">
              {{game.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p> Selected value: {{selectedValue}} </p>

      </mat-card-content>
    </mat-card>
    <!-- /Material Select -->

    <!-- Material List -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material List</h2>
        <mat-list class="app-list">
          <mat-list-item *ngFor="let food of foods">
            <h3 mat-line>{{food.name}}</h3>
            <p class="demo-secondary-text"
               mat-line>{{food.rating}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <!-- /Material List -->

    <!-- Material Grid List -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Grid List</h2>
        <mat-grid-list cols="4"
                       rowHeight="100px">
          <mat-grid-tile *ngFor="let tile of tiles"
                         [colspan]="tile.cols"
                         [rowspan]="tile.rows"
                         [style.background]="tile.color"
                         class="grid-test-1">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <!-- /Material Grid List -->

    <!-- Material Spinner -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Progress spinner configuration</h2>

        <section class="example-section">
          <label class="example-margin">Color:</label>
          <mat-radio-group [(ngModel)]="color">
            <mat-radio-button class="example-margin"
                              value="primary">
              Primary
            </mat-radio-button>
            <mat-radio-button class="example-margin"
                              value="accent">
              Accent
            </mat-radio-button>
            <mat-radio-button class="example-margin"
                              value="warn">
              Warn
            </mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="example-section">
          <label class="example-margin">Mode:</label>
          <mat-radio-group [(ngModel)]="mode">
            <mat-radio-button class="example-margin"
                              value="determinate">
              Determinate
            </mat-radio-button>
            <mat-radio-button class="example-margin"
                              value="indeterminate">
              Indeterminate
            </mat-radio-button>
          </mat-radio-group>
        </section>

        <section *ngIf="mode === 'determinate'"
                 class="example-section">
          <label class="example-margin">Progress:</label>
          <mat-slider [(ngModel)]="value"
                      class="example-margin"></mat-slider>
        </section>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Result</h2>

        <mat-progress-spinner [color]="color"
                              [mode]="mode"
                              [value]="value"
                              class="example-margin">
        </mat-progress-spinner>
      </mat-card-content>
    </mat-card>
    <!-- /Material Spinner -->

    <!-- Material Progress Bar -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Progress Bar</h2>
        <label>
          Indeterminate progress-bar
          <mat-progress-bar aria-label="Indeterminate progress-bar example"
                            class="app-progress"
                            mode="indeterminate"></mat-progress-bar>
        </label>
        <label>
          Determinate progress bar - {{progress}}%
          <mat-progress-bar [value]="progress"
                            aria-label="Determinate progress-bar example"
                            class="app-progress"
                            color="accent"
                            mode="determinate"></mat-progress-bar>
        </label>
      </mat-card-content>
    </mat-card>
    <!-- /Material Progress Bar -->

    <!-- Material Tab -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Tab</h2>
        <mat-tab-group>
          <mat-tab label="Air Nomads">
            <p>The Air Nomads were a civilization composed of people who practiced the art of airbending. While nomadic,
              Air
              Nomads did inhabit four major air temples, each built on remote locations, only easily reachable with
              flying
              bison. The Air Nomads were a highly spiritual group of people.</p>
          </mat-tab>
          <mat-tab label="Water Tribe">
            <p>The Water Tribe is a collective term for people, some of whom practice the art of waterbending, who
              follow a
              government system in the form of a tribal chiefdom. Although members of the Water Tribe typically inhabit
              the
              polar regions, the North Pole and the South Pole, there is a small population of waterbenders who inhabit
              the
              Foggy Swamp in Earth Kingdom territory. The two main tribes are the Northern Water Tribe at the North Pole
              and the Southern Water Tribe at the South Pole.</p>
          </mat-tab>
          <mat-tab label="Earth Kingdom">
            <p>The Earth Kingdom is a massive continent led by an earth monarch and is home to people who practice the
              art of
              earthbending. Being the largest of the four nations, it is ethnically diverse with a variance of customs
              and
              cultural traditions. The people of the Earth Kingdom are strong and persistent. The geography of the Earth
              Kingdom varies tremendously, ranging from wooded forests to blazing deserts, mountainous terrain, and
              grassy
              plains.
            </p>
          </mat-tab>
          <mat-tab label="Fire Nation">
            <p>The Fire Nation is home to people who practice the art of firebending and is an absolute monarchy led by
              the
              Fire Lord. Being composed of several major islands and located on the equator, the nation is considered to
              be an archipelago. Its economy is the largest and most powerful in the world with a strong industrial
              sector
              and advanced technological developments. The climate is normally humid and warm which allows for a
              diversity
              of flora and fauna to thrive.</p>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <!-- /Material Tab -->

    <mat-card>
      <mat-icon>build</mat-icon>
      <mat-icon>android</mat-icon>
    </mat-card>

    <!-- Material Slider -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Slider :: Configuration</h2>

        <section class="example-section">
          <mat-form-field class="example-margin">
            <input [(ngModel)]="slider.value"
                   matInput
                   placeholder="Value"
                   type="number">
          </mat-form-field>
          <mat-form-field class="example-margin">
            <input [(ngModel)]="slider.min"
                   matInput
                   placeholder="Min value"
                   type="number">
          </mat-form-field>
          <mat-form-field class="example-margin">
            <input [(ngModel)]="slider.max"
                   matInput
                   placeholder="Max value"
                   type="number">
          </mat-form-field>
          <mat-form-field class="example-margin">
            <input [(ngModel)]="slider.step"
                   matInput
                   placeholder="Step size"
                   type="number">
          </mat-form-field>
        </section>

        <section class="example-section">
          <mat-checkbox [(ngModel)]="slider.showTicks"
                        class="example-margin">Show ticks
          </mat-checkbox>
          <mat-checkbox *ngIf="slider.showTicks"
                        [(ngModel)]="slider.autoTicks"
                        class="example-margin">
            Auto ticks
          </mat-checkbox>
          <mat-form-field *ngIf="slider.showTicks && !slider.autoTicks"
                          class="example-margin">
            <input [(ngModel)]="slider.tickInterval"
                   matInput
                   placeholder="Tick interval"
                   type="number">
          </mat-form-field>
        </section>

        <section class="example-section">
          <mat-checkbox [(ngModel)]="slider.thumbLabel"
                        class="example-margin">Show thumb label
          </mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox [(ngModel)]="slider.checked"
                        class="example-margin">Checked
          </mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox [(ngModel)]="slider.vertical"
                        class="example-margin">Vertical
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="slider.invert"
                        class="example-margin">Inverted
          </mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox [(ngModel)]="slider.disabled"
                        class="example-margin">Disabled
          </mat-checkbox>
        </section>
      </mat-card-content>

      <mat-card-content>
        <h2 class="example-h2">Slider Result</h2>
        <mat-slider [disabled]="slider.disabled"
                    [invert]="slider.invert"
                    [max]="slider.max"
                    [min]="slider.min"
                    [step]="slider.step"
                    [thumbLabel]="slider.thumbLabel"
                    [tickInterval]="slider.tickInterval"
                    [value]="slider.value"
                    [vertical]="slider.vertical"
                    class="example-margin">
        </mat-slider>
      </mat-card-content>

      <mat-card-content>
        <h2 class="example-h2">Slider Toggle Result</h2>
        <mat-slide-toggle (change)="slider.checked = !slider.checked"
                          [checked]="slider.checked"
                          [disabled]="slider.disabled">Slide me!
        </mat-slide-toggle>
      </mat-card-content>

    </mat-card>
    <!-- /Material Slider -->

    <!-- Material Menu -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Menu</h2>
        <button [matMenuTriggerFor]="menu"
                mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button disabled
                  mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </mat-card-content>
    </mat-card>
    <!-- /Material Menu-->

    <!-- Material Dialog-->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Dialog</h2>
        <p>Last dialog result: {{lastDialogResult}}</p>
        <button (click)="openDialog()"
                mat-raised-button>DIALOG
        </button>
        <button (click)="showSnackbar()"
                mat-raised-button>SNACKBAR
        </button>
      </mat-card-content>
    </mat-card>
    <!-- /Material Dialog-->
    <!-- Material Fab-->
    <button class="app-fab"
            mat-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <!-- /Material Fab-->
  </div>
</mat-sidenav-container>
