<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>


  <mat-toolbar color="primary" class="mat-elevation-z5 app-header">
    <span class="title">Angular Material CSS Vars Demo</span>
  </mat-toolbar>

  <div class="content mat-typography">
    <section class="box">
      <h1>Configure Theme</h1>

      <!--        <mat-form-field>-->
      <!--          <input matInput-->
      <!--                 [(ngModel)]="primary"-->
      <!--                 (ngModelChange)="onPrimaryChange($event)"-->
      <!--                 type="color"-->
      <!--                 placeholder="Primary Color" />-->
      <!--        </mat-form-field>-->
      <!--        <mat-form-field>-->
      <!--          <input matInput-->
      <!--                 [(ngModel)]="accent"-->
      <!--                 (ngModelChange)="onAccentChange($event)"-->
      <!--                 type="color"-->
      <!--                 placeholder="Accent Color" />-->
      <!--        </mat-form-field>-->

      <div class="config-cards">
        <mat-card class="mat-elevation-z3">
          <mat-card-content>
            <h2>Primary color</h2>
            <div class="color-picker-el"
                 (colorPickerChange)="onPrimaryChange($event)"
                 [colorPicker]="materialCssVarsService.primary"
                 [cpAlphaChannel]="'disabled'"
                 [cpDialogDisplay]="'inline'"
                 [cpOKButton]="false"
                 [cpOutputFormat]="'hex'"
                 [cpToggle]="true"
                 [style.background]="materialCssVarsService.primary"></div>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z3">
          <mat-card-content>
            <h2>Accent color</h2>
            <div class="color-picker-el"
                 (colorPickerChange)="onAccentChange($event)"
                 [colorPicker]="materialCssVarsService.accent"
                 [cpAlphaChannel]="'disabled'"
                 [cpDialogDisplay]="'inline'"
                 [cpOKButton]="false"
                 [cpOutputFormat]="'hex'"
                 [cpToggle]="true"
                 [style.background]="materialCssVarsService.accent"></div>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z3">
          <mat-card-content>
            <h2>Warn color</h2>
            <div class="color-picker-el"
                 (colorPickerChange)="onWarnChange($event)"
                 [colorPicker]="materialCssVarsService.warn"
                 [cpAlphaChannel]="'disabled'"
                 [cpDialogDisplay]="'inline'"
                 [cpOKButton]="false"
                 [cpOutputFormat]="'hex'"
                 [cpToggle]="true"
                 [style.background]="materialCssVarsService.warn"></div>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z3">
          <mat-card-content>
            <h2>Contrast Color</h2>

            <mat-slide-toggle (change)="toggleAutoContrast()"
                              [checked]="materialCssVarsService.isAutoContrast">Auto Contrast Colors
            </mat-slide-toggle>
            <br>
            <br>

            <mat-form-field>
              <mat-select (ngModelChange)="onChangeThresholdPrimary($event)"
                          [disabled]="materialCssVarsService.isAutoContrast"
                          [(ngModel)]="materialCssVarsService.contrastColorThresholdPrimary"
                          placeholder="Threshold for primary contrast color">
                <mat-option *ngFor="let hue of hues"
                            [value]="hue.value">
                  {{hue.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <br>

            <mat-form-field>
              <mat-select (ngModelChange)="onChangeThresholdAccent($event)"
                          [disabled]="materialCssVarsService.isAutoContrast"
                          [(ngModel)]="materialCssVarsService.contrastColorThresholdAccent"
                          placeholder="Threshold for Accent contrast color">
                <mat-option *ngFor="let hue of hues"
                            [value]="hue.value">
                  {{hue.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <br>

            <mat-form-field>
              <mat-select (ngModelChange)="onChangeThresholdWarn($event)"
                          [disabled]="materialCssVarsService.isAutoContrast"
                          [(ngModel)]="materialCssVarsService.contrastColorThresholdWarn"
                          placeholder="Threshold for Warn contrast color">
                <mat-option *ngFor="let hue of hues"
                            [value]="hue.value">
                  {{hue.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>


        <mat-card class="mat-elevation-z3">
          <mat-card-content>
            <h2>Dark/Light</h2>
            <mat-slide-toggle (change)="toggleTheme()"
                              [checked]="isDarkTheme">Dark Theme Enabled
            </mat-slide-toggle>

          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z3">
          <mat-card-content>
            <h2>Color Algorithm</h2>
            <mat-slide-toggle (change)="toggleTraditionalColor()"
                              [checked]="isAlternativeColorAlgorithm">{{colorAlgorithm}}
            </mat-slide-toggle>

          </mat-card-content>
        </mat-card>
      </div>

      <mat-card class="mat-elevation-z3">
        <mat-card-content>
          <h2 style="margin-bottom: 0;">Palette</h2>

<!--          <div class="palette mat-elevation-z5">-->
          <!--            <div *ngFor="let item of palettePrimary;"-->
          <!--                 [ngStyle]="{'background-color': item.color.str}">-->
          <!--              <div [ngStyle]="{'color': item.contrast.str}">{{item.hue}}</div>-->
          <!--            </div>-->
          <!--          </div>-->

          <div class="palette mat-elevation-z5">
            <div class="bg-50">
              <div>50</div>
            </div>
            <div class="bg-100">
              <div>100</div>
            </div>
            <div class="bg-200">
              <div>200</div>
            </div>
            <div class="bg-300">
              <div>300</div>
            </div>
            <div class="bg-400">
              <div>400</div>
            </div>
            <div class="bg-500">
              <div>primary<br>500</div>
            </div>
            <div class="bg-600">
              <div>600</div>
            </div>
            <div class="bg-700">
              <div>700</div>
            </div>
            <div class="bg-800">
              <div>800</div>
            </div>
            <div class="bg-900">
              <div>900</div>
            </div>
          </div>

          <div class="palette mat-elevation-z5">
            <div class="bga-50">
              <div>50</div>
            </div>
            <div class="bga-100">
              <div>100</div>
            </div>
            <div class="bga-200">
              <div>200</div>
            </div>
            <div class="bga-300">
              <div>300</div>
            </div>
            <div class="bga-400">
              <div>400</div>
            </div>
            <div class="bga-500">
              <div>primary<br>500</div>
            </div>
            <div class="bga-600">
              <div>600</div>
            </div>
            <div class="bga-700">
              <div>700</div>
            </div>
            <div class="bga-800">
              <div>800</div>
            </div>
            <div class="bga-900">
              <div>900</div>
            </div>
          </div>


          <div class="palette mat-elevation-z5">
            <div class="bgw-50">
              <div>50</div>
            </div>
            <div class="bgw-100">
              <div>100</div>
            </div>
            <div class="bgw-200">
              <div>200</div>
            </div>
            <div class="bgw-300">
              <div>300</div>
            </div>
            <div class="bgw-400">
              <div>400</div>
            </div>
            <div class="bgw-500">
              <div>primary<br>500</div>
            </div>
            <div class="bgw-600">
              <div>600</div>
            </div>
            <div class="bgw-700">
              <div>700</div>
            </div>
            <div class="bgw-800">
              <div>800</div>
            </div>
            <div class="bgw-900">
              <div>900</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </section>


    <section class="box">
      <h1 style="margin-top: 32px;">Demo Components</h1>

      <mat-tab-group>
        <mat-tab label="Buttons">
          <!-- Material Button -->
          <mat-card>
            <mat-card-content>
              <h2>Material Buttons</h2>
              <!--        <h3>Basic Buttons</h3>-->
              <div class="example-button-row">
                <button mat-button>Basic</button>
                <button color="primary"
                        mat-button>Primary
                </button>
                <button color="accent"
                        mat-button>Accent
                </button>
                <button color="warn"
                        mat-button>Warn
                </button>
                <button disabled
                        mat-button>Disabled
                </button>
                <a mat-button
                   routerLink=".">Link</a>
              </div>

              <!--        <h3>Raised Buttons</h3>-->
              <div class="example-button-row">
                <button mat-raised-button>Basic</button>
                <button color="primary"
                        mat-raised-button>Primary
                </button>
                <button color="accent"
                        mat-raised-button>Accent
                </button>
                <button color="warn"
                        mat-raised-button>Warn
                </button>
                <button disabled
                        mat-raised-button>Disabled
                </button>
                <a mat-raised-button
                   routerLink=".">Link</a>
              </div>

              <!--        <h3>Stroked Buttons</h3>-->
              <div class="example-button-row">
                <button mat-stroked-button>Basic</button>
                <button color="primary"
                        mat-stroked-button>Primary
                </button>
                <button color="accent"
                        mat-stroked-button>Accent
                </button>
                <button color="warn"
                        mat-stroked-button>Warn
                </button>
                <button disabled
                        mat-stroked-button>Disabled
                </button>
                <a mat-stroked-button
                   routerLink=".">Link</a>
              </div>

              <!--        <h3>Flat Buttons</h3>-->
              <div class="example-button-row">
                <button mat-flat-button>Basic</button>
                <button color="primary"
                        mat-flat-button>Primary
                </button>
                <button color="accent"
                        mat-flat-button>Accent
                </button>
                <button color="warn"
                        mat-flat-button>Warn
                </button>
                <button disabled
                        mat-flat-button>Disabled
                </button>
                <a mat-flat-button
                   routerLink=".">Link</a>
              </div>

              <!--        <h3>Icon Buttons</h3>-->
              <div class="example-button-row">
                <button aria-label="Example icon-button with a heart icon"
                        mat-icon-button>
                  <mat-icon>favorite</mat-icon>
                </button>
                <button aria-label="Example icon-button with a heart icon"
                        color="primary"
                        mat-icon-button>
                  <mat-icon>favorite</mat-icon>
                </button>
                <button aria-label="Example icon-button with a heart icon"
                        color="accent"
                        mat-icon-button>
                  <mat-icon>favorite</mat-icon>
                </button>
                <button aria-label="Example icon-button with a heart icon"
                        color="warn"
                        mat-icon-button>
                  <mat-icon>favorite</mat-icon>
                </button>
                <button aria-label="Example icon-button with a heart icon"
                        disabled
                        mat-icon-button>
                  <mat-icon>favorite</mat-icon>
                </button>
              </div>

              <!--        <h3>Fab Buttons</h3>-->
              <div class="example-button-row">
                <button mat-fab>Basic</button>
                <button color="primary"
                        mat-fab>Primary
                </button>
                <button color="accent"
                        mat-fab>Accent
                </button>
                <button color="warn"
                        mat-fab>Warn
                </button>
                <button disabled
                        mat-fab>Disabled
                </button>
                <button aria-label="Example icon-button with a heart icon"
                        mat-fab>
                  <mat-icon>favorite</mat-icon>
                </button>
                <a mat-fab
                   routerLink=".">Link</a>
              </div>

              <!--        <h3>Mini Fab Buttons</h3>-->
              <div class="example-button-row">
                <button mat-mini-fab>Basic</button>
                <button color="primary"
                        mat-mini-fab>Primary
                </button>
                <button color="accent"
                        mat-mini-fab>Accent
                </button>
                <button color="warn"
                        mat-mini-fab>Warn
                </button>
                <button disabled
                        mat-mini-fab>Disabled
                </button>
                <button aria-label="Example icon-button with a heart icon"
                        mat-mini-fab>
                  <mat-icon>favorite</mat-icon>
                </button>
                <a mat-mini-fab
                   routerLink=".">Link</a>
              </div>
            </mat-card-content>
          </mat-card>
          <!-- /Material Button -->
        </mat-tab>

        <mat-tab label="Form Inputs">
          <!-- Material Input -->
          <mat-card class="input-section">
            <mat-card-content>
              <h2>Material Input</h2>
              <mat-form-field>
                <input matInput
                       placeholder="First name"/>
              </mat-form-field>
              <mat-form-field>
                <input #nickname
                       matInput
                       maxlength="50"
                       placeholder="Nickname"/>
                <mat-hint align="end">
                  {{nickname.value.length}} / 50
                </mat-hint>
              </mat-form-field>
              <mat-form-field>
                <mat-icon class="input-icon"
                          matPrefix>android
                </mat-icon>
                <input matInput
                       placeholder="Favorite phone">
              </mat-form-field>
              <mat-form-field>

                <mat-icon class="input-icon"
                          matPrefix>motorcycle
                </mat-icon>
                <input matInput
                       placeholder="Motorcycle model">
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <!-- /Material Input -->

          <!-- Material Checkbox -->
          <mat-card>
            <mat-card-content>
              <h2>Material Checkbox</h2>
              <mat-checkbox color="warn">Unchecked</mat-checkbox>
              <mat-checkbox [checked]="true">Checked</mat-checkbox>
              <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
              <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
            </mat-card-content>
          </mat-card>
          <!-- /Material Checkbox -->
        </mat-tab>

        <mat-tab label="Spinner & Progress">
          <!-- Material Spinner -->
          <section class="config-cards">
            <mat-card>
              <mat-card-content>
                <h2>Progress spinner configuration</h2>

                <section class="example-section">
                  <label class="example-margin">Color:</label>
                  <mat-radio-group [(ngModel)]="spinnerColor">
                    <mat-radio-button class="example-margin"
                                      value="primary">
                      Primary
                    </mat-radio-button>
                    <mat-radio-button class="example-margin"
                                      value="accent">
                      Accent
                    </mat-radio-button>
                    <mat-radio-button class="example-margin"
                                      value="warn">
                      Warn
                    </mat-radio-button>
                  </mat-radio-group>
                </section>

                <section class="example-section">
                  <label class="example-margin">Mode:</label>
                  <mat-radio-group [(ngModel)]="spinnerMode">
                    <mat-radio-button class="example-margin"
                                      value="determinate">
                      Determinate
                    </mat-radio-button>
                    <mat-radio-button class="example-margin"
                                      value="indeterminate">
                      Indeterminate
                    </mat-radio-button>
                  </mat-radio-group>
                </section>

                <section *ngIf="spinnerMode === 'determinate'"
                         class="example-section">
                  <label class="example-margin">Progress:</label>
                  <mat-slider [(ngModel)]="spinnerValue"
                              class="example-margin"></mat-slider>
                </section>
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-content>
                <h2>Result</h2>

                <mat-progress-spinner [color]="spinnerColor"
                                      [mode]="spinnerMode"
                                      [value]="spinnerValue"
                                      class="example-margin">
                </mat-progress-spinner>
              </mat-card-content>
            </mat-card>
          </section>
          <!-- /Material Spinner -->

          <!-- Material Progress Bar -->
          <mat-card>
            <mat-card-content>
              <h2>Material Progress Bar</h2>
              <label>
                Indeterminate progress-bar
                <mat-progress-bar aria-label="Indeterminate progress-bar example"
                                  class="progress"
                                  mode="indeterminate"></mat-progress-bar>
              </label>
              <label>
                Determinate progress bar - {{progress}}%
                <mat-progress-bar [value]="progress"
                                  aria-label="Determinate progress-bar example"
                                  class="progress"
                                  color="accent"
                                  mode="determinate"></mat-progress-bar>
              </label>
            </mat-card-content>
          </mat-card>
          <!-- /Material Progress Bar -->
        </mat-tab>

        <mat-tab label="Various">
          <!-- Material Chip List -->
          <mat-card>
            <mat-card-content>
              <h2>Material Chips</h2>
              <mat-chip-list>
                <mat-chip *ngFor="let chipColor of availableSpinnerColors"
                          color="{{chipColor.color}}"
                          selected="true">
                  {{chipColor.name}}
                </mat-chip>
              </mat-chip-list>
            </mat-card-content>
          </mat-card>
          <!-- /Material Chip List -->

          <!-- Material Menu -->
          <mat-card>
            <mat-card-content>
              <h2>Material Menu</h2>
              <button [matMenuTriggerFor]="menu"
                      mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button disabled
                        mat-menu-item>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voicemail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </mat-card-content>
          </mat-card>
          <!-- /Material Menu-->
          
          <!-- Material Select -->
          <mat-card>
            <mat-card-content>
              <h2>Material Select</h2>
              <mat-form-field>
                <mat-label>Choose an option</mat-label>
                <mat-select>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <!-- /Material Select-->

          <!-- Material Date Picker -->
          <mat-card>
            <mat-card-content>
              <h2>Material Date Picker</h2>
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <!-- /Material Date Picker -->

        </mat-tab>

        <mat-tab label="Snackbar">
          <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <input matInput value="Disco party!" #message>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Action</mat-label>
            <input matInput value="Dance" #action>
          </mat-form-field>
          
          <button mat-stroked-button (click)="showSnackbar(message.value, action.value)">Show snack-bar</button>
        </mat-tab>

      </mat-tab-group>
    </section>

    <!-- Material Fab-->
    <button class="fab"
            mat-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <!-- /Material Fab-->
  </div>
</mat-sidenav-container>
