@import '../../projects/material-css-vars/src/lib/public-util';

.bg-50 {
  @include mat-css-color-and-contrast(50);
}

.bg-100 {
  @include mat-css-color-and-contrast(100);
}

.bg-200 {
  @include mat-css-color-and-contrast(200);
}

.bg-300 {
  @include mat-css-color-and-contrast(300);
}

.bg-400 {
  @include mat-css-color-and-contrast(400);
}

.bg-500 {
  @include mat-css-color-and-contrast(500);
  border: 2px dashed red;
}

.bg-600 {
  @include mat-css-color-and-contrast(600);
}

.bg-700 {
  @include mat-css-color-and-contrast(700);
}

.bg-800 {
  @include mat-css-color-and-contrast(800);
}

.bg-900 {
  @include mat-css-color-and-contrast(900);
}

.config-cards {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1;
  }
}

.palette {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1;
    height: 50px;
    text-align: center;
    position: relative;

    div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.app-content {
  padding: 5px;
}

.app-content mat-card {
  margin: 6px;
}

.app-sidenav {
  min-width: 200px;
}

.app-content mat-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}


.app-fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
  padding: 0 5px;
}

.app-menu-button {
  padding: 0;
  min-width: 50px;
}

.app-button {
  margin: 5px;
}

.app-list {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.app-progress {
  margin: 5px;
}

.example-h2 {
  margin: 10px 0;
  color: rgba(0, 0, 0, .54);
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

mat-chip {
  max-width: 200px;
}

.app-sidebar-button {
  width: inherit;
}

.example-spacer {
  flex: 1 1 auto;
}

.picker-label {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.example-button-row {
  margin-bottom: 10px;

  button {
    margin: 4px;
  }
}
