@import '../../projects/material-css-vars/src/lib/public-util';

$lighter-dark: rgb(88, 88, 88);

.bg-50 {
  @include mat-css-color-and-contrast-primary(50);
}

.bg-100 {
  @include mat-css-color-and-contrast-primary(100);
}

.bg-200 {
  @include mat-css-color-and-contrast-primary(200);
}

.bg-300 {
  @include mat-css-color-and-contrast-primary(300);
}

.bg-400 {
  @include mat-css-color-and-contrast-primary(400);
}

.bg-500 {
  @include mat-css-color-and-contrast-primary(500);
  border: 4px dashed mat-css-color-accent();
}

.bg-600 {
  @include mat-css-color-and-contrast-primary(600);
}

.bg-700 {
  @include mat-css-color-and-contrast-primary(700);
}

.bg-800 {
  @include mat-css-color-and-contrast-primary(800);
}

.bg-900 {
  @include mat-css-color-and-contrast-primary(900);
}


.bga-50 {
  @include mat-css-color-and-contrast-accent(50);
}

.bga-100 {
  @include mat-css-color-and-contrast-accent(100);
}

.bga-200 {
  @include mat-css-color-and-contrast-accent(200);
}

.bga-300 {
  @include mat-css-color-and-contrast-accent(300);
}

.bga-400 {
  @include mat-css-color-and-contrast-accent(400);
}

.bga-500 {
  @include mat-css-color-and-contrast-accent(500);
  border: 4px dashed mat-css-color-primary();
}

.bga-600 {
  @include mat-css-color-and-contrast-accent(600);
}

.bga-700 {
  @include mat-css-color-and-contrast-accent(700);
}

.bga-800 {
  @include mat-css-color-and-contrast-accent(800);
}

.bga-900 {
  @include mat-css-color-and-contrast-accent(900);
}


.bgw-50 {
  @include mat-css-color-and-contrast-warn(50);
}

.bgw-100 {
  @include mat-css-color-and-contrast-warn(100);
}

.bgw-200 {
  @include mat-css-color-and-contrast-warn(200);
}

.bgw-300 {
  @include mat-css-color-and-contrast-warn(300);
}

.bgw-400 {
  @include mat-css-color-and-contrast-warn(400);
}

.bgw-500 {
  @include mat-css-color-and-contrast-warn(500);
  border: 4px dashed mat-css-color-primary();
}

.bgw-600 {
  @include mat-css-color-and-contrast-warn(600);
}

.bgw-700 {
  @include mat-css-color-and-contrast-warn(700);
}

.bgw-800 {
  @include mat-css-color-and-contrast-warn(800);
}

.bgw-900 {
  @include mat-css-color-and-contrast-warn(900);
}

::ng-deep color-picker {
  .color-picker {

    @include mat-css-dark-theme {
      color: #fff;
      background: $lighter-dark;
    }
  }
}

.config-cards {
  display: flex;
  flex-wrap: wrap;

  > mat-card {
    flex: 1;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.palette {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1;
    height: 50px;
    text-align: center;
    position: relative;

    div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

:host ::ng-deep {
  .mat-tab-body-content {
    padding: 12px;
  }
}

.content {
  padding: 5px;
}

.box {
  margin: 6px;
}

.content mat-card {
  margin-top: 12px;
}

.content mat-checkbox {
  margin: 10px;
}

.toolbar-filler {
  flex: 1 1 auto;
}


.fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

.spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.button {
  margin: 5px;
}

.progress {
  margin: 5px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

mat-chip {
  max-width: 200px;
}

.picker-label {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.example-button-row {
  margin-bottom: 10px;

  button {
    margin: 4px;
  }
}
