@import '../../projects/material-css-vars/src/lib/public-util';

.bg-50 {
  @include mat-css-color-and-contrast(50);
}

.bg-100 {
  @include mat-css-color-and-contrast(100);
}

.bg-200 {
  @include mat-css-color-and-contrast(200);
}

.bg-300 {
  @include mat-css-color-and-contrast(300);
}

.bg-400 {
  @include mat-css-color-and-contrast(400);
}

.bg-500 {
  @include mat-css-color-and-contrast(500);
  border: 4px dashed mat-css-accent-color();
}

.bg-600 {
  @include mat-css-color-and-contrast(600);
}

.bg-700 {
  @include mat-css-color-and-contrast(700);
}

.bg-800 {
  @include mat-css-color-and-contrast(800);
}

.bg-900 {
  @include mat-css-color-and-contrast(900);
}

.config-cards {
  display: flex;
  flex-wrap: wrap;

  > mat-card {
    flex: 1;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.palette {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1;
    height: 50px;
    text-align: center;
    position: relative;

    div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

:host ::ng-deep   {
  .mat-tab-body-content {
    padding: 12px;
  }
}

.content {
  padding: 5px;
}

.box {
  margin: 6px;
}

.content mat-card {
  margin-top: 12px;
}

.content mat-checkbox {
  margin: 10px;
}

.toolbar-filler {
  flex: 1 1 auto;
}


.fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

.spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.button {
  margin: 5px;
}

.progress {
  margin: 5px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

mat-chip {
  max-width: 200px;
}

.picker-label {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.example-button-row {
  margin-bottom: 10px;

  button {
    margin: 4px;
  }
}
