@import '../projects/material-css-vars/src/lib/main';

@include initMaterialCssVars();

body {
  padding: 0;
  margin: 0;

  &.isDarkTheme {
    background: rgb(39, 39, 39);
  }
}

* {
  box-sizing: border-box;
}
