@import '../projects/material-css-vars/src/lib/main';

@include initMaterialCssVars();

@include mat-css-set-palette-defaults($mat-light-blue, 'primary');
@include mat-css-set-palette-defaults($mat-pink, 'accent');
@include mat-css-set-palette-defaults($mat-red, 'warn');


body {
  padding: 0;
  margin: 0;

  &.isDarkTheme {
    background: rgb(39, 39, 39);
  }
}

* {
  box-sizing: border-box;
}
