@use '/projects/material-css-vars/src/lib/main' as mat-css-main;
@use '/projects/material-css-vars/src/lib/public-util' as mat-css-utilities;
@use '@angular/material' as mat;

@import './app/app.theme';

$custom-typography: mat.define-typography-config(
  $font-family: 'Roboto, monospace',
  $body-1: mat.define-typography-level(16px, 24px, 500),
  $headline-1: mat.define-typography-level(16px, 24px, 500)
);

@include mat-css-main.init-material-css-vars($typography-config: $custom-typography) using($mat-css-theme) {
  @include app-theme($mat-css-theme);
};

@include mat-css-utilities.mat-css-set-palette-defaults(mat.$light-blue-palette, 'primary');
@include mat-css-utilities.mat-css-set-palette-defaults(mat.$pink-palette, 'accent');
@include mat-css-utilities.mat-css-set-palette-defaults(mat.$red-palette, 'warn');

body {
  padding: 0;
  margin: 0;
}
